<?xml version="1.0"?>
<!--
/**
 * Blog
 * 
 * @author Yurii Kliauz
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="dev_blog" frontName="dev_blog">
			<module name="Dev_Blog" />
		</route>
	</router>
</config>